@import "../node_modules/bootstrap/less/bootstrap";

@icon-font-path:        "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/fonts/";
@body-bg:               #dddddd;
@text-color:            #9e9e9e;
@thumbnail-bg:          white;
@grid-float-breakpoint: 310px;

@media (max-width: (@screen-sm-min - 1)) and (min-width: @grid-float-breakpoint) {
  .navbar .container {
    padding-left: 0;
    padding-right: 0;

    .navbar-brand {
      display: none;
    }

    .navbar-collapse {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.panel {
  background-color: @body-bg;
  border: none;
}

.panel-default > .panel-heading {
  background-color: @body-bg;
  border: none;
  padding: 0 15px;
}

a {
  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.thumbnail {
  padding: 0;
  border: none;

  .caption {
    text-align: center;
  }
}

.vertical-align {
  vertical-align: middle;
}

footer p {
  font-size: 0.8em;
  text-align: center;
}

.modal.and.carousel {
  position: absolute; /* Needed because the carousel overrides the position property */
}

.carousel {
  .carousel-indicators li {
    background-color: white;
    border-color: black;
  }
  .carousel-indicators li.active {
    background-color: black;
    border-color: black;
  }
}

.carousel-inner {
  img {
    margin-left: auto;
    margin-right: auto;
  }
  .carousel-caption {
    color: black;
    padding-left: 20px;
    padding-right: 20px;
    position: static;
  }
}

.drop-caps {
  float: left;
  font-size: 3.11em;
  line-height: 0.48;
  margin: 0.240em 0.161em 0 0;
}

/* Carousel vertical alignment: http://stackoverflow.com/a/24829651 */
