@body-bg:               #dddddd;
@text-color:            #616161;

h3, .h3 {
  font-size: 24px;
}

.item-heading {
  font-size: 24px;
  color: #333333;
}

.item-description {
  font-size: 16px;
}

.item-size {
  font-size: 16px;
}

.item-price {
  font-size: 18px;
  color: #FF4081;
}

a {
  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.thumbnail {
  border: none;
  margin-bottom: 0;
  padding: 0;

  .caption {
    text-align: center;
  }
}

.vertical-align {
  vertical-align: middle;
}

footer p {
  font-size: 0.8em;
  margin-top: 20px;
  text-align: center;
}

.drop-caps {
  float: left;
  font-size: 3.11em;
  line-height: 0.48;
  margin: 0.240em 0.161em 0 0;
}
