@import "../node_modules/bootstrap/less/bootstrap";

@icon-font-path:        "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/fonts/";
@body-bg:               #dddddd;
@text-color:            #616161;
@thumbnail-bg:          white;
@grid-float-breakpoint: 310px;

@media (max-width: (@screen-sm-min - 1)) and (min-width: @grid-float-breakpoint) {
  .navbar .container {
    padding-left: 0;
    padding-right: 0;

    .navbar-brand {
      display: none;
    }

    .navbar-collapse {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.panel {
  background-color: @body-bg;
  border: none;
}

.panel-default > .panel-heading {
  background-color: @body-bg;
  border: none;
  padding: 0 15px;

  h3, .h3 {
    font-size: 24px;
  }
}

.item-heading {
  font-size: 24px;
  color: #333333;
}

.item-description {
  font-size: 16px;
}

.item-size {
  font-size: 16px;
}

.item-price {
  font-size: 18px;
  color: #FF4081;
}

a {
  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.thumbnail {
  padding: 0;
  border: none;

  .caption {
    text-align: center;
  }
}

.vertical-align {
  vertical-align: middle;
}

footer p {
  font-size: 0.8em;
  margin-top: 20px;
  text-align: center;
}

.drop-caps {
  float: left;
  font-size: 3.11em;
  line-height: 0.48;
  margin: 0.240em 0.161em 0 0;
}
